

#body {
  margin: 10px;

}

 /*Верхнее меню*/

 .header {
    background-image: linear-gradient(#2d7898, #afe1f6);
    font-size:16px;
    width:100%;
    position:relative;
    overflow: hidden;
    margin: 5px;
 }

.header li {
    display:inline-block;
    float: left;
    list-style: none;
    text-align:center;
}

.header a {
    display: block;
    color:#fff;
    padding:0px 40px;
    margin-left: -1px;
    font-size:15px;
    line-height:40px;
    text-shadow:0.5px 0.866px 1px rgba(0,0,0,0.5);
    text-decoration: none;
}

.header a:hover {
  background-color: #6cfbba;
  border-right:1px solid #888;
  border-left:1px solid #888;
}

.header ul {
  margin: 0;
}          

.searchform {
  float: left;
  width: 85%;
  margin: 5px;
}

.searchbutton {
  float: right;
  width: 10%;
  margin: 5px;
}

.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);
  
}

#tabs {
  clear: both;
  margin: 5px;
}

